@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poetry';
    src: url('/Soerjapoetera.otf');
}
@font-face {
    font-family: 'Coventry';
    src: url('/CoventryGardenNF.ttf');
}

body{
		
    background-color: antiquewhite;
}
