---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
---
<Layout title="Blog">
    <ViewTransitions />
    <nav class="border-gray-200 relative z-10 bg-transparent dark:bg-gray-800 dark:border-gray-700">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/perfume2.png" class="h-8 hover:cursor-pointer" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-amber-100 dark:text-white font-Raleway">Blog</span>
            </a>
            <button data-collapse-toggle="navbar-hamburger" type="button" class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-hamburger" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full" id="navbar-hamburger">
                <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                    <li>
                        <a href="#" class="block py-2 px-3 text-white bg-blue-700 rounded dark:bg-blue-600" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Services</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white">Pricing</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <div class="flex justify-center  opacity-30 -mt-20   ">
        <img class="object-cover  object-center h-44 mt-4 m-10 rounded-xl "  src="https://img.freepik.com/free-photo/sea-with-island-distance-vietnam_181624-20901.jpg?w=1380&t=st=1701874781~exp=1701875381~hmac=89e60713fc2f1a702b04ec546498f6a9d3a87bc395170025e66ced78d0c77aa1" width="1920px"  >
    </div>
    
    <div class="flex justify-center">
        
        <span class="bg-white">Blog Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias et corporis soluta iusto sunt labore eveniet, ipsam officiis, architecto commodi totam veniam necessitatibus nulla, facilis eius aut dolores tempore inventore.
            
        </span>
    </div>
    
</Layout>
    
    
    <style>
        body{
            background-color: #252525;
            
        }
        </style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@0,100;0,200;0,400;1,100;1,200;1,400&display=swap');
  </style>