---
import Layout from '../layouts/Layout.astro';
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import CartContain from '../components/CartContain.astro'


---

<Layout title='Perfumes del Mundo'> 

    <ViewTransitions />
    <main class="max-sm:hidden">
		<Header></Header>
	</main>
	
	
	<nav class="max-sm:hidden text-2xl">
		<Navbar/>
	</nav>
	
    <h1>Carrito</h1>
    <CartContain/>
            
</Layout>