<nav>
    <ul class="flex flex-row gap-2 justify-evenly my-2 font-Coventry">
        <a href="/">
            <li class="hover:text-cyan-800 hover:transition-colors hover:cursor-pointer">Inicio</li>
        </a> 
        <a href="/productos">

            <li class="hover:text-cyan-800 hover:transition-colors hover:cursor-pointer">Productos</li>
        </a>
        <a href="/blog">
            <li class="hover:text-cyan-800 hover:transition-colors hover:cursor-pointer">Blog</li>
        </a>
    </ul>
</nav>